@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h2> OverView</h2>
<address>
    <p>

        The VetClinic Animal hospitals are driven by a passion for helping pets and giving their people the support they deserve.
        We know that your pet is precious to your family, and when they’re happy, you’re happy.
        For more insight into who we are and what we do, take a moment to learn about us values and meet our amazing veterinary teams in Queensburgh, Umhlanga and Kloof.
    </p>
</address>

<address>
    <h4>
        <p>
            OUR
            MISSION

        </p>
    </h4>
</address>


<address>
    <p>
        Our purpose is to enrich the quality of lives of pets and their families through personalized partnerships.
    </p>
</address>


<address>
    <h5>
        <p>
            OUR CORE VALUES

        </p>
    </h5>
</address>



<address>
    <strong>

        <p>
            Passion
        </p>

    </strong>
</address>

<address>
    <p>
        We love what we do and couldn’t imagine a world without our four-legged companions. We embrace the unique gift that is the human-animal bond, and are committed to enriching the lives of our patients and their families. Passion is our driving force.
    </p>
</address>

<address>
    <strong>

        <p>
            Trust
        </p>

    </strong>
</address>

<address>
    <p>
        Open, honest, respectful communication is how we earn trust. It is an honor to be chosen to care for pet families, so we focus on building trust with our clients and patients by giving 110% effort, every day.
    </p>
</address>

<address>
    <strong>

        <p>
           Communication
        </p>

    </strong>
</address>

<address>
    <p>
        Communication is the foundation of our success. We take time to make sure that our clients understand our recommendations and the outcomes we are creating for their pets.
    </p>
</address>

<address>
    <strong>

        <p>
           Teamwork
        </p>

    </strong>
</address>

<address>
    <p>
        Without teamwork, our hospital would not be the exceptional place it is. We capitalize on all of our team members' unique skills, preferences, and abilities to deliver the best care to you and your pet. What's more is we partner with you, too, as an invaluable member of the team.
    </p>
</address>

<address>
    <strong>

        <p>
            Respect
        </p>

    </strong>
</address>

<address>
    <p>
        We value integrity and treat all people and patients with dignity and respect. Respect means we are always kind, and we do not pass judgment. It is by true mutual respect within our team and with our clients that amazing things happen for our patients!
    </p>
</address>

<address>

    <strong>

        <p>
            Empowerment
        </p>

    </strong>
</address>

<address>
    <p>
        We believe in not only providing superior pet care but also in empowering pet owners by sharing our extensive knowledge with you. Informed pet owners make for better pet parents.
    </p>
</address>
