@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>
        We would love to hear from you!
    </strong>
</address>

<address>
    91 Coronation Rd, Malvern, Queensburgh<br />
    Durban<br />
    <abbr title="Phone">Tel:</abbr>
    0314645555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@VetClinic.com">Support@VetClinic.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@VetCLinic.com">Marketing@VetClinic.com</a>
</address>